@import url(bootstrap.css);


body {
   background-image:url('https://f.cloud.github.com/assets/5040646/987093/ebcd9d54-08e4-11e3-9732-ee3044f477fa.jpg');


}


h1 {
  color:DarkMagenta;
  font-family:ArielBlack;
}


p {
   color:Indigo;
   font-family:"Lucida Calligraphy";
}

li {
   color:Fuchsia;
}

thumbnails {
            color:DimGray;
}
